@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


// * Reseteo de Estilos
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// * Variables

// ? Primary colors
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);
// ? Colores neutros
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// * Fonts
$font-size: 1.6rem;

$font-family: 'Poppins', sans-serif;
$font-weights: (
    'ligth': 200,
    'medium': 400,
    'bold': 600
);


// ? Estilos Generales

body {
    font-family: $font-family;
}

img {
    width: 40px;
}

a {
    text-decoration: none;
    color: black;
}